@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';
@import '_content/ZhiMedia.Integration/ZhiMedia.Integration.4nw3fdvz1j.bundle.scp.css';
@import '_content/ZhiMedia.UI/ZhiMedia.UI.f9m44vdby8.bundle.scp.css';
@import '_content/ZhiMedia.Web/ZhiMedia.Web.2j12oyuya5.bundle.scp.css';

/* /Pages/Index.razor.rz.scp.css */
/*layout {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
}*/

page[b-ogbz1w9exv] {
	background-color: #d6dee1;
	/* width: calc(100% - 400px); */
	width: 100%;
	display: flex;
	flex-flow: column;
}

@media screen and (max-width: 992px) {
	tree[b-ogbz1w9exv] {
		width: 100%;
	}
}

pagebar[b-ogbz1w9exv] {
	width: 100%;
	height: 3.5rem !important;
	min-height: 3.5rem !important;
	background-color: #f7f7f7;
	border-bottom: 1px solid #d6d5d5;
	display: table-row;
}

pagemain[b-ogbz1w9exv] {
	/* background-color: skyblue; */
	width: 100%;
	/* max-width: 60rem; */
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 1rem;
}

/* custom scrollbar */
[b-ogbz1w9exv]::-webkit-scrollbar {
	width: 1rem;
}

*:hover[b-ogbz1w9exv]::-webkit-scrollbar {
	width: 1rem;
}

[b-ogbz1w9exv]::-webkit-scrollbar-track {
	background-color: transparent;
}

[b-ogbz1w9exv]::-webkit-scrollbar-thumb {
	background-color: #eeeeee;
	border-radius: 20px;
	border: 3px solid transparent;
	background-clip: content-box;
}

	[b-ogbz1w9exv]::-webkit-scrollbar-thumb:hover {
		background-color: #ffffff;
	}

.card[b-ogbz1w9exv] {
	max-width: 60rem;
	margin: 1rem 0 1rem 0;
	border-radius: 1rem;
}

.card-header[b-ogbz1w9exv] {
	border-radius: 1rem 1rem 0 0;
}

.card-footer[b-ogbz1w9exv] {
	border-radius: 0 0 1rem 1rem;
}

	.card-footer.align-center[b-ogbz1w9exv] {
		text-align: center;
	}

	.card-footer.align-end[b-ogbz1w9exv] {
		text-align: end;
	}
/* /Pages/IndexTickNode.razor.rz.scp.css */
/*layout {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
}*/

tree[b-2mujvyp9re] {
	background-color: blue;
	width: calc(100% - 400px);
	display:flex;
	flex-flow:column;
}

@media screen and (max-width: 992px) {
	tree[b-2mujvyp9re] {
		width: 100%;
	}
}

treebar[b-2mujvyp9re] {
	width: 100%;
	height: 3.5rem!important;
	min-height:3.5rem!important;
	background-color: #f7f7f7;
	border-bottom: 1px solid #d6d5d5;
	display: table-row;
}

treemain[b-2mujvyp9re] {
	background-color: skyblue;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

panel[b-2mujvyp9re] {
	display: block;
	background-color: green;
	width: 400px !important;
}

/*panelframe {
	position: sticky;
	background-color: yellow;
	width: 100%;
	height: 100%;
}*/


/* custom scrollbar */
[b-2mujvyp9re]::-webkit-scrollbar {
	width: 20px;
}

*:hover[b-2mujvyp9re]::-webkit-scrollbar {
	width: 25px;
}

[b-2mujvyp9re]::-webkit-scrollbar-track {
	background-color: transparent;
}

[b-2mujvyp9re]::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

	[b-2mujvyp9re]::-webkit-scrollbar-thumb:hover {
		background-color: #eeeeee;
	}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-zts9t5cfab] {
	position: relative;
	display: flex;
	flex-direction: column;
}

main[b-zts9t5cfab] {
	flex: 1;
}

.sidebar[b-zts9t5cfab] {
	/* background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); */
	background-color: #eeeeee;
}

.top-row[b-zts9t5cfab] {
	background-color: #f7f7f7;
	border-bottom: 1px solid #d6d5d5;
	justify-content: flex-end;
	height: 3.5rem;
	display: flex;
	align-items: center;
}

	.top-row[b-zts9t5cfab]  a, .top-row[b-zts9t5cfab]  .btn-link {
		white-space: nowrap;
		margin-left: 1.5rem;
		text-decoration: none;
	}

		.top-row[b-zts9t5cfab]  a:hover, .top-row[b-zts9t5cfab]  .btn-link:hover {
			text-decoration: underline;
		}

		.top-row[b-zts9t5cfab]  a:first-child {
			overflow: hidden;
			text-overflow: ellipsis;
		}

content[b-zts9t5cfab] {
	display: flex;
	background-color: red;
	align-items: stretch;
}


@media (max-width: 640.98px) {
	.top-row:not(.auth)[b-zts9t5cfab] {
		display: none;
	}

	.top-row.auth[b-zts9t5cfab] {
		justify-content: space-between;
	}

	.top-row[b-zts9t5cfab]  a, .top-row[b-zts9t5cfab]  .btn-link {
		margin-left: 0;
	}

	content[b-zts9t5cfab] {
		height: calc(100vh - 56px);
	}
}

@media (min-width: 641px) {
	.page[b-zts9t5cfab] {
		flex-direction: row;
	}

	.sidebar[b-zts9t5cfab] {
		width: 15rem;
		height: 100vh;
		position: sticky;
		top: 0;
	}

	.top-row[b-zts9t5cfab] {
		position: sticky;
		top: 0;
		z-index: 1;
	}

		.top-row.auth[b-zts9t5cfab]  a:first-child {
			flex: 1;
			text-align: right;
			width: 0;
		}

	.top-row[b-zts9t5cfab], article[b-zts9t5cfab] {
		padding-left: 2rem !important;
		padding-right: 1.5rem !important;
	}

	content[b-zts9t5cfab] {
		height: 100vh;
	}
}
